*.iml
.kotlin
.gradle
**/build/
xcuserdata
!src/**/build/
local.properties
.idea
.DS_Store
captures
.externalNativeBuild
.cxx
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
keystore/*.jks
env.properties

# Firebase
composeApp/google-services.json
firebase-credentials.json

# Fastlane
.env
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
fastlane/README.md
play-store-credentials.json

# iosApp
iosApp/fastlane/report.xml
iosApp/fastlane/Preview.html
iosApp/fastlane/screenshots
iosApp/fastlane/test_output
iosApp/fastlane/README.md
